[Unit]
Description=Node cosmos-sdk v0.52.x - v2
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=v2-052-1-node
Image=ghcr.io/cosmos/cosmos-sdk-v2:0.52
Environment=COSMOS_CHAIN_ID="v2-052-1"
Environment=COSMOS_MONIKER="v2-052-1-node"
PublishPort=26676:26656
PublishPort=26677:26657
Volume=v2-052-1-node:/config
Label=app=v2-052-1-node

[Install]
WantedBy=default.target
